*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
a  {
  color: white;
}
body {
  font-family: arial;
  color: #384047;
  background: #0ACD98;
}

.imgcontainer {
    width: 40%;
     background-image: url("https://lacerba.io/assets/illustrazione-login.png");
    height: 100vh;
    float: right;
    background-size: cover;
}


.formcontainer  {

  margin: 10px auto;
  padding: 5px 10px;
  border-radius: 8px;
  width: 60%;
  float: left;
  text-align: left;
  height: 10vh;

}

input[type="text"],
input[type="password"],
input[type="cognome"],
input[type="conferma_password"],
input[type="email"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 1rem;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 10px;
  border-radius: 15px;
}

input[type="text"],
input[type="password"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 1rem;
  height: auto;
  margin: 0;
  float: left;
  outline: 0;
  padding: 15px;
  width: 45%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 10px;
  border-radius: 15px;
}

#password1{

  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 1rem;
  height: auto;
  margin: 0;
  float: left;
  outline: 0;
  
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 10px;
  border-radius: 15px;
}



input[type="cognome"],
input[type="conferma_password"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 1rem;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 45%;
  float: right;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 10px;
  border-radius: 15px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}
select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}
button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: purple;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}
fieldset {
  margin-bottom: 30px;
  border: none;
  color: white;
}
legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 8px;
}
label.news {
  font-weight: 300;
  display: inline;
}
.number {
  color: #F47521;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bolder;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
#no_news {
  margin-bottom: 25px;
}

 



button{
  border-radius: 13px;
}
button.btn{
  text-align: center;
  display: inline-block;
  
}
.formcontainer form{
  text-align: left;
  margin: 0 150px;
  
}
.caselle{
  padding-top: 10px;
}


.ricordami{
  
  display: flex;
}

.accedi{
  text-align: center;
}
.logo{
  height: 10vh;
  margin: 0 150px;
  padding-left: 150px;
}
h1{
  height: 6vh;
  font-size: 25px;
  text-align: center;
  color: white;
  
  
}
.lul {
  width: 40%;
  background-color: white;
  margin: 0 185px;
  display: block;
  position: relative;
  margin-left: 0px;
  margin-left: 185px;

}

.lul a{
  color: #0ACD98;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  font-style: normal; 
  padding-top: 20px;

}

.lel {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 600px;
  border: none;

  
}
.face {
  width: 49%;
  float: left;
  padding: 10px;
  color: gray;
  font-size: 1rem;
  font-style: normal; 
  background-color: white;
  margin-bottom: 10px;
  border-radius: 15px;
}

.goog {
  width: 49%;
  float: right;
  padding: 10px;
  color: gray;
  font-size: 1rem;
  font-style: normal; 
  background-color: white;
  margin-bottom: 10px;
  border-radius: 15px;
}

  @media screen and (min-width: 768px) {
 
    
  }
  
   

  

  
@media screen and (max-width: 480px) {

.formcontainer form {
    margin: 0 50px;
    width: 100%;
  }

  h1 {
    font-size: 1rem;
    text-align: center;
  }

.logo {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
   color: white;
}

  

  .imgcontainer {
  display: none;
  }
  body{
  width: 100%;
  }

}

@media screen and (max-width: 768px) {

 

  h1 {
    font-size: 1rem;
  }

 .logo {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
 }

  

  .imgcontainer {
    display: none;
  }
  body{
    width: 100%;
  }
  
  
  .caselle{
    display: inline;
  }
}
.flexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.icon_a {
  position: relative;
  flex-basis: 45%;
}
.icon_c{
  position: relative;
  flex-basis: 100%;
  
}
.material-icons {
  position: absolute;
  color: gray;
    font-family: 'Material Icons';
      font-size: 25px;
      padding: 7px;
  }


.password_dimenticata {
  float: right;
  padding-top: 5px;
}
label.news {
  font-weight: 300;
  display: inline;
}
label {
  display: block;
  margin-bottom: 8px;
}

@media screen and (max-width: 480px){
input[type="text"],
input[type="password"],
input[type="cognome"],
input[type="conferma_password"],
input[type="email"],
input[type="url"],
input[type="password1"]
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 1rem;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 10px;
  border-radius: 15px;
  padding-left: 50px;
}
}